# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/img/bg-icon/unsplash_RFDP7_80v5A.png
src/img/bg-icon/unsplash_RFDP7_80v5A.png
src/img/bg-icon/image.png
src/img/bg-icon/hero-bcg-img-tablet2x.png
src/img/bg-icon/hero-bcg-img-tablet.png
src/img/bg-icon/hero-bcg-img-mobile2x.png
src/img/bg-icon/hero-bcg-img-mobile.png
