<!-- Yulya -->
<section class="section-two">
    <div class="container about-complex-container">
        <div class="main-room">
            <img class="main-room-img" srcset="
                    ./img/complex_about/imag_main_335.jpg 335w,
                    ./img/complex_about/imag_main_482.jpg 482w,
                    ./img/complex_about/imag_main_670.jpg 670w,
                    ./img/complex_about/imag_main_964.jpg 964w" src="./img/complex_about/imag_main_335.jpg"
                alt="main room" width="482"
                sizes="(min-width: 1440px) 482px, (min-width: 768px) 482px, (min-width: 375px) 335px, 100vw">

            <div class="rating">
                <img class="rating-img"
                    srcset="./img/complex_about/Ellipse_18_maria@1x.png 1x, ./img/complex_about/Ellipse_18_maria@2x.png 2x"
                    src="./img/complex_about/Ellipse_18_maria@1x.png" alt="photo of marina" width="41" height="41">
                <div class="rating-text">
                    <p class="rating-name">Maria</p>
                    <p class="rating-text">give rating <span class="nomber">4.5</span></p>
                </div>
            </div>

            <div class="bath-room">
                <!-- <picture>
              <source media="min-width: 1440px" 
              srcset="./img/complex_about/image_bath_439.jpg 1x, 
              ./img/complex_about/image_bath_878.jpg 2x"
              type="image/jpg">
              <source media="min-width: 768px"
              srcset="./img/complex_about/image_bath_404.jpg 1x, 
              ./img/complex_about/image_bath_808.jpg 2x"
              type="image/jpg">
              <source media="max-width: 767px"
               srcset="./img/complex_about/image_bath_282.jpg 1x, 
              ./img/complex_about/image_bath_564.jpg 2x"
              type="image/jpg">

              <img class="bath-room-img"
               src="./img/complex_about/image_bath_282.jpg"
                alt="bath room"
                width="439"
                height="219">
            </picture> -->
                <img class="bath-room-img" srcset="
                    ./img/complex_about/image_bath_282.jpg 282w,
                    ./img/complex_about/image_bath_404.jpg 404w,
                    ./img/complex_about/image_bath_439.jpg 439w,
                    ./img/complex_about/image_bath_564.jpg 564w,
                    ./img/complex_about/image_bath_808.jpg 808w,
                    ./img/complex_about/image_bath_878.jpg 879w" src="./img/complex_about/image_bath_282.jpg"
                    alt="bath room" width="439"
                    sizes="(min-width: 1440px) 439px, (min-width: 768px) 404px, (min-width: 375px) 282px, 100vw">
            </div>

            <div class="restaurant-text">
                <h2 hidden class="about-title">restaurant-hotel complex</h2>
                <p class="about-subtitle about-restaurant-subtitle">restaurant-hotel complex</p>
                <p class="about-text about-restaurant-hotel-text">Indulge in a taste of luxury with every bite at
                    Hotel Mimino. From the freshest seafood to the most succulent
                    steaks,
                    every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.
                </p>
                <p class="about-text about-restaurant-hotel-text2">Treat yourself to a taste of the good life and
                    come dine with us today!</p>
            </div>

        </div>


        <div class="restaurant">
            <img class="restaurant-img" srcset="
                            ./img/complex_about/image_restaurant_335.jpg 335w,
                            ./img/complex_about/image_restaurant_530.jpg 530w,
                            ./img/complex_about/image_restaurant_670.jpg 670w,
                            ./img/complex_about/image_restaurant_1060.jpg 1060w"
                src="./img/complex_about/image_restaurant_335.jpg" alt="restaurant" width="530"
                sizes="(min-width: 1440px) 530px, (min-width: 768px) 530px, (min-width: 375px) 335px, 100vw">

            <div class="rating2">
                <img class="rating-img"
                    srcset="./img/complex_about/Ellipse_18alexander@1x.png 1x, ./img/complex_about/Ellipse_18alexander@2x.png 2x"
                    src="./img/complex_about/Ellipse_18alexander@1x.png" alt="photo of marina" width="41" height="41">
                <div>
                    <p class="rating-name">Alexander</p>
                    <p class="rating-text">give rating <span class="nomber">5.5</span></p>
                </div>
            </div>

            <div class="restaurant-room">
                <div class="hotel-text">
                    <h2 hidden class="about-title">business class hotel</h2>
                    <p class="about-subtitle about-hotel-subtitle">business class hotel</p>
                    <p class="about-text about-hotel-text">The Mimino hotel features spacious and stylish double
                        luxury rooms with modern amenities for a comfortable stay.</p>
                </div>
                <img class="restaurant-room-img" srcset="
                                                        ./img/complex_about/restaurant2_266.jpg 266w,
                                                        ./img/complex_about/restaurant2_335.jpg 335w,
                                                        ./img/complex_about/restaurant2_532.jpg 532w,
                                                        ./img/complex_about/restaurant2_670.jpg 670w"
                    sizes="(min-width: 1440px) 266px, (min-width: 768px) 266px, (min-width: 375px) 335px, 100vw"
                    src="./img/complex_about/restaurant2_335.jpg" alt="restaurant" width="266" height="309">


            </div>

        </div>

    </div>
</section>