<!-- Alakey -->
<section class="double-room">
    <div class="container dooble-section">
        <div class="wrapper-foto-double">
            <picture class="basis-foto">
                <source
                    media="(min-width:1440px)"
                    srcset="
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-DESK.jpg 1x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-DESK-2x.jpg 2x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-DESK-3x.jpg 3x
                "
                    type="image/jpg"
                />
                <source
                    media="(min-width:768px)"
                    srcset="
                    ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-TAB.jpg 1x,
                    ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-TAB-2x.jpg 2x,
                    ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-TAB-3x.jpg 3x
                "
                    type="image/jpg"
                />
                <source
                    media="(max-width:767.99px)"
                    srcset="
                    ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-MOB.jpg 1x,
                    ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-MOB-2x.jpg 2x,
                    ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-MOB-3x.jpg 3x
                "
                    type="image/jpg"
                />
                <img 
                    src="./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BEDROOM-MOB.jpg" 
                    alt="Foto of room"
                    loading="lazy"
                    max-width="539"
                    max-height="762"
                />    
            </picture>
            <div class="wrapper-img-double">
                <picture>
                    <source
                        media="(min-width:1440px)"
                        srcset="
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-DESK.jpg 1x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-DESK-2x.jpg 2x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-DESK-3x.jpg 3x
                    "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:768px)"
                        srcset="
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-TAB.jpg 1x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-TAB-2x.jpg 2x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-TAB-3x.jpg 3x
                    "
                        type="image/jpg"
                    />
                    <source
                        media="(max-width:767.99px)"
                        srcset="
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-MOB.jpg 1x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-MOB-2x.jpg 2x,
                        ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-MOB-3x.jpg 3x
                    "
                        type="image/jpg"
                    />
                    <img 
                    src="./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-BATHROOM-MOB.jpg" 
                    alt="Foto of room"
                    loading="lazy"
                    max-width="387"
                    max-height="510"
                    />
                </picture>
                <picture>
                    <source
                        media="(min-width:1440px)"
                        srcset="
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-DESK.jpg 1x,
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-DESK-2x.jpg 2x,
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-DESK-3x.jpg 3x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(min-width:768px)"
                        srcset="
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-TAB.jpg 1x,
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-TAB-2x.jpg 2x,
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-TAB-3x.jpg 3x
                        "
                        type="image/jpg"
                    />
                    <source
                        media="(max-width:767.99px)"
                        srcset="
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-MOB.jpg 1x,
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-MOB-2x.jpg 2x,
                            ./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-MOB-3x.jpg 3x
                        " 
                        type="image/jpg"  
                    />
                    <img 
                    src="./img/hotel-page/DOUBLE-LUXURY-ROOM/DOUBLE-LUXURY-ROOM-KITCHEN-MOB.jpg" 
                    alt="Foto of room"
                    loading="lazy"
                    max-width="387"
                    max-height="510"
                    >   
                </picture>
            </div>
        </div>
        <div class="container-text-double">
            
            <div class="container-info">
                <h2 class="title-room">DOUBLE LUXURY ROOM</h2>
                <div class="text-wrapper"> 
                    <p class="text-double-room">
                        Experience luxury in our Double Luxury Room 
                        at Mimino Hotel. This spacious room features 
                        a comfortable bed, private bathroom, flat-
                        screen TV, and high-speed Wi-Fi. 
                        Climate control, blackout curtains, and
                        soundproofing ensure a peaceful night's 
                        sleep.
                    </p>
                    <p class="text-double-room">
                        Relax after a busy day at the writing desk or 
                        armchair. Book now for a convenient and 
                        comfortable stay.
                    </p>
                </div>
            </div>  
            <div class="wrapper-button-double">
                        <button 
                        class="More-details button btn-white"
                        type="button">
                        More details
                        </button>
                        <button 
                        class="View-prices button btn-white"
                        type="button">
                        View prices
                        </button>
                
            </div>    
        </div> 
    </div>
</section>