<!-- Alakey -->
<section class="double-room">
    <div class="container dooble-section">
        <h2 class="double-room-title">DOUBLE LUXURY ROOM</h2>
    </div>
    <div>
        <p>
            Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.
        </p>
        <p>
            Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
        </p>
    </div>
    <div>
        <button 
        class="More-details button"
        type="button">
        More details
        </button>
        <button 
        class="View-prices button"
        type="button">
            View prices
        </button>
    </div>
</section>