<!-- Alexey-->
<footer class="footer">
  <div class="container">
    <ul class="footer-item">
      <li>
        <ul class="footer-nav">
          <li><a class="footer-nav-item" href="index.html">Home</a></li>
          <li><a class="footer-nav-item" href="page-2.html">Hotel</a></li>
          <li><a class="footer-nav-item" href="page-3.html">Restaurant</a></li>
        </ul>
      </li>

      <li>
        <a href="index.html" class="link">
          <div class="footer-main">
            <h3 class="footer-title">Mimino</h3>
            <p class="description">Restaurant-hotel complex</p>
          </div>
        </a>
      </li>

      <li>
        <ul class="footer-soc-list">

          <li>
            <a href="https://www.instagram.com/" target="_blank"
              ><svg width="24px" height="24px" class="instagram">
                <use href="/project-cool-coders/assets/icons-df97797c.svg#icon-instagram"></use></svg></a>
          </li>

          <li>
            <a href="https://facebook.com/" target="_blank"
              ><svg width="24px" height="24px" class="soc-icon">
                <use href="/project-cool-coders/assets/icons-df97797c.svg#icon-facebook"></use></svg></a>
          </li>
        
          <li>
            <a href="https://twitter.com" target="_blank">
              <svg width="24px" height="24px" class="soc-icon">
                <use href="/project-cool-coders/assets/icons-df97797c.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="border"></div>
</footer>
