<!-- Katerina -->
<section class="four-seater-room">
  <div class="container container-four-seater">
    <div class="picture-wrap">
      <div class="tablet-version">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ../img/hotel-page/four-seater-room/four-seater-bathroom-desktop.jpg    1x,
              ../img/hotel-page/four-seater-room/four-seater-bathroom-desktop-2x.jpg 2x,
              ../img/hotel-page/four-seater-room/four-seater-bathroom-desktop-3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ../img/hotel-page/four-seater-room/four-seater-bathroom-tablet.jpg    1x,
              ../img/hotel-page/four-seater-room/four-seater-bathroom-tablet-2x.jpg 2x,
              ../img/hotel-page/four-seater-room/four-seater-bathroom-tablet-3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ../img/hotel-page/four-seater-room/four-seater-bathroom-mobile.jpg    1x,
              ../img/hotel-page/four-seater-room/four-seater-bathroom-mobile-2x.jpg 2x,
              ../img/hotel-page/four-seater-room/four-seater-bathroom-mobile-3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="../img/hotel-page/four-seater-room/four-seater-bathroom-mobile.jpg"
            alt="Bathroom"
            loading="lazy"
            max-width="387"
            max-height="510"
          />
        </picture>
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ../img/hotel-page/four-seater-room/four-seater-kitchen-desktop.jpg    1x,
              ../img/hotel-page/four-seater-room/four-seater-kitchen-desktop-2x.jpg 2x,
              ../img/hotel-page/four-seater-room/four-seater-kitchen-desktop-3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ../img/hotel-page/four-seater-room/four-seater-kitchen-tablet.jpg    1x,
              ../img/hotel-page/four-seater-room/four-seater-kitchen-tablet-2x.jpg 2x,
              ../img/hotel-page/four-seater-room/four-seater-kitchen-tablet-3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ../img/hotel-page/four-seater-room/four-seater-kitchen-mobile.jpg    1x,
              ../img/hotel-page/four-seater-room/four-seater-kitchen-mobile-2x.jpg 2x,
              ../img/hotel-page/four-seater-room/four-seater-kitchen-mobile-3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="../img/hotel-page/four-seater-room/four-seater-kitchen-mobile.jpg"
            alt="Bedroom"
            loading="lazy"
            max-width="386"
            max-height="395"
          />
        </picture>
      </div>
      <picture class="images-desktop">
        <source
          media="(min-width:1440px)"
          srcset="
            ../img/hotel-page/four-seater-room/four-seater-bedroom-desktop.jpg    1x,
            ../img/hotel-page/four-seater-room/four-seater-bedroom-desktop-2x.jpg 2x,
            ../img/hotel-page/four-seater-room/four-seater-bedroom-desktop-3x.jpg 3x
          "
          type="image/jpg"
        />
        <source
          media="(min-width:768px)"
          srcset="
            ../img/hotel-page/four-seater-room/four-seater-bedroom-tablet.jpg    1x,
            ../img/hotel-page/four-seater-room/four-seater-bedroom-tablet-2x.jpg 2x,
            ../img/hotel-page/four-seater-room/four-seater-bedroom-tablet-3x.jpg 3x
          "
          type="image/jpg"
        />
        <source
          media="(max-width:767.99px)"
          srcset="
            ../img/hotel-page/four-seater-room/four-seater-bedroom-mobile.jpg    1x,
            ../img/hotel-page/four-seater-room/four-seater-bedroom-mobile-2x.jpg 2x,
            ../img/hotel-page/four-seater-room/four-seater-bedroom-mobile-3x.jpg 3x
          "
          type="image/jpg"
        />
        <img
          src="../img/hotel-page/four-seater-room/four-seater-bedroom-mobile.jpg"
          alt="Bedroom"
          loading="lazy"
          max-width="539"
          max-height="762"
        />
      </picture>
    </div>
    <div class="flex-wrapper">
      <div class="text-wrap">
        <h2 class="four-seater-room-title">Four-seater room</h2>
        <p class="four-seater-room-text">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <div class="button-wrap">
        <ul class="four-seater-room-button">
            <li><button type="button" class="button btn-white">More details</button></li>
            <li><button type="button" class="button btn-white">View prices</button></li>
        </ul>
      </div>
    </div>
  </div>
</section>
