<!-- Katerina -->
<section>
    <div class="container container-four-seater">
        <ul class="image-mobile">
        <li><img src="../img/hotel-page/four-seater-room/four-seater-bedroom-mobile.jpg"
            srcset="../img/hotel-page/four-seater-room/four-seater-bedroom-mobile.jpg 1x, 
            ../img/hotel-page/four-seater-room/four-seater-bedroom-mobile-2x.jpg 2x, 
            ../img/hotel-page/four-seater-room/four-seater-bedroom-mobile-3x.jpg 3x" 
            alt="Bedroom" width="335" height="468"></li>
        <li><img src="../img/hotel-page/four-seater-room/four-seater-bathroom-mobile.jpg"
            srcset="../img/hotel-page/four-seater-room/four-seater-bathroom-mobile.jpg 1x,
            ../img/hotel-page/four-seater-room/four-seater-bathroom-mobile-2x.jpg 2x, 
            ../img/hotel-page/four-seater-room/four-seater-bathroom-mobile-3x.jpg 3x" 
            alt="Bathroom" width="158" height="158"></li>
        <li><img src="../img/hotel-page/four-seater-room/four-seater-kitchen-mobile.jpg"
            srcset="../img/hotel-page/four-seater-room/four-seater-kitchen-mobile.jpg 1x,
            ../img/hotel-page/four-seater-room/four-seater-kitchen-mobile-2x.jpg 2x,
            ../img/hotel-page/four-seater-room/four-seater-kitchen-mobile-3x.jpg 3x" 
            alt="Kitchen" width="158" height="158"></li>
        </ul>
        <ul class="images-tablet">
            <li class="left-elm">
                <div><img src="../img/hotel-page/four-seater-room/four-seater-bathroom-tablet.jpg" srcset="../img/hotel-page/four-seater-room/four-seater-bathroom-tablet.jpg 1x,
                                    ../img/hotel-page/four-seater-room/four-seater-bathroom-tablet-2x.jpg 2x, 
                                    ../img/hotel-page/four-seater-room/four-seater-bathroom-tablet-3x.jpg 3x" alt="Bathroom"
                        width="223" height="261"></div>
                
                
                <div><img src="../img/hotel-page/four-seater-room/four-seater-kitchen-tablet.jpg" srcset="../img/hotel-page/four-seater-room/four-seater-kitchen-tablet.jpg 1x,
                                                ../img/hotel-page/four-seater-room/four-seater-kitchen-tablet-2x.jpg 2x,
                                                ../img/hotel-page/four-seater-room/four-seater-kitchen-tablet-3x.jpg 3x" alt="Kitchen"
                        width="341" height="175"></div>
            </li>
            <li><img src="../img/hotel-page/four-seater-room/four-seater-bedroom-tablet.jpg" srcset="../img/hotel-page/four-seater-room/four-seater-bedroom-tablet.jpg 1x, 
                                        ../img/hotel-page/four-seater-room/four-seater-bedroom-tablet-2x.jpg 2x, 
                                        ../img/hotel-page/four-seater-room/four-seater-bedroom-tablet-3x.jpg 3x" alt="Bedroom" width="331"
                            height="468">
            </li>
        </ul>
    <ul class="images-desktop">
       <li class="test"><img src="../img/hotel-page/four-seater-room/four-seater-kitchen-desktop.jpg" srcset="../img/hotel-page/four-seater-room/four-seater-kitchen-desktop.jpg 1x,
                        ../img/hotel-page/four-seater-room/four-seater-kitchen-desktop-2x.jpg 2x,
                        ../img/hotel-page/four-seater-room/four-seater-kitchen-desktop-3x.jpg 3x" alt="Kitchen" width="386"
                height="395"></li>
        <li class="test"><img src="../img/hotel-page/four-seater-room/four-seater-bedroom-desktop.jpg" srcset="../img/hotel-page/four-seater-room/four-seater-bedroom-desktop.jpg 1x, 
                                    ../img/hotel-page/four-seater-room/four-seater-bedroom-desktop-2x.jpg 2x, 
                                    ../img/hotel-page/four-seater-room/four-seater-bedroom-desktop-3x.jpg 3x" alt="Bedroom"
                width="539" height="762"></li>
        <li class="test"><img src="../img/hotel-page/four-seater-room/four-seater-bathroom-desktop.jpg" srcset="../img/hotel-page/four-seater-room/four-seater-bathroom-desktop.jpg 1x,
                                ../img/hotel-page/four-seater-room/four-seater-bathroom-desktop-2x.jpg 2x, 
                                ../img/hotel-page/four-seater-room/four-seater-bathroom-desktop-3x.jpg 3x" alt="Bathroom"
                width="387" height="510"></li>
    </ul>
    <div class="flex-wrapper">
    <div class="text-wrap">
    <h2 class="four-seater-room-title">Four-seater room</h2>
    <p class="four-seater-room-text">Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage,
    flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for
    a memorable stay.</p>
</div>
    <div class="button-wrap">
        <ul class="four-seater-room-button">
            <li><button type="button" class="button btn-white">More details</button></li>
            <li><button type="button" class="button btn-white">View prices</button></li>
        </ul>
    </div>
    </div>
    </div>
</section>