<!-- Pavel -->
<header class="home-header">
  <div class="home-header-box container">
    <button type="button" class="home-header-menu-open js-open-menu">
      <svg class="header-menu-icon" width="28px" height="28px">
        <use
          href="./img/svg-sprite/header-icon-sprite.svg#header-burger"
          class="burger"
        ></use>
      </svg>
    </button>
    <nav>
      <ul class="home-header-site-nav">
        <li>
          <a href="index.html" class="home-header-nav-link current">HOME</a>
        </li>
        <li><a href="page-2.html" class="home-header-nav-link">HOTEL</a></li>
        <li>
          <a href="page-3.html" class="home-header-nav-link">RESTAURANT</a>
        </li>
      </ul>
    </nav>
    <ul class="home-header-site-logo">
      <li>
        <a href="./index.html" class="home-header-logo-mimino">MIMINO</a>
      </li>
      <li>
        <p class="home-header-logo-complex">RESTAURANT-HOTEL COMPLEX</p>
      </li>
    </ul>
    <ul class="home-header-site-social">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="home-header-social-icon" width="20px" height="20px">
            <use
              class="black-icon"
              href="./img/svg-sprite/header-icon-sprite.svg#header-icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="home-header-social-icon" width="20px" height="20px">
            <use
              class="black-icon"
              href="./img/svg-sprite/header-icon-sprite.svg#header-icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="home-header-social-icon" width="20px" height="20px">
            <use
              class="black-icon"
              href="./img/svg-sprite/header-icon-sprite.svg#header-icon-twitter"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!-- Header Menu -->

  <div class="menu js-menu-container">
    <div class="header-menu container">
      <button type="button" class="menu-close-button js-close-menu">
        <svg class="menu-close-button-icon" width="14px" height="14px">
          <use href="./img/svg-sprite/header-icon-sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="menu-home-header-site-logo">
        <li>
          <a href="../index.html" class="home-header-logo-mimino">MIMINO</a>
        </li>
        <li>
          <p class="home-header-logo-complex">RESTAURANT-HOTEL COMPLEX</p>
        </li>
      </ul>
      <ul class="header-menu-social-list">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="menu-social-icon" width="20px" height="20px">
              <use
                href="./img/svg-sprite/header-icon-sprite.svg#header-icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="menu-social-icon" width="20px" height="20px">
              <use
                href="./img/svg-sprite/header-icon-sprite.svg#header-icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="menu-social-icon" width="20px" height="20px">
              <use
                href="./img/svg-sprite/header-icon-sprite.svg#header-icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-menu-box container">
      <ul class="menu-site-nav">
        <li><a href="index.html" class="menu-nav-title">HOME</a></li>
        <li><a href="page-2.html" class="menu-nav-title">HOTEL</a></li>
        <li>
          <a href="page-3.html" class="menu-nav-title">RESTAURANT</a>
        </li>
      </ul>
    </div>
  </div>
</header>
