<!-- Pavel -->
<section class="hero">
  <div class="home-hero-box container">
    <h1 class="home-hero-title">MIMINO</h1>
    <ul class="home-hero-button-list">
      <li>
        <button type="button" class="home-hero-button">BOOK A ROOM</button>
      </li>
      <li>
        <button type="button" class="home-hero-button">BOOK A TABLE</button>
      </li>
    </ul>
    <ul class="home-hero-text-list">
      <li>
        <p class="home-hero-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          romantic dinner, our menu has something for everyone.
        </p>
      </li>
      <li>
        <p class="home-hero-text">
          At Hotel Mimino, we believe that great food should be available to
          everyone, no matter the time of day.
        </p>
      </li>
    </ul>
  </div>
</section>
