<!-- Pavel -->
<section class="hero">
  <div class="home-hero-box container">
    <div class="bcg-box"></div>
    <div class="home-hero-main">
      <h1 class="home-hero-title">MIMINO</h1>
      <div class="home-hero-footer">
        <ul class="home-hero-button-list">
          <li>
            <button type="button" class="button btn-black" data-modal-open book a room>BOOK A ROOM</button>
          </li>
          <li>
            <button type="button" class="button btn-black data-modal-open" data-modal-open>BOOK A TABLE</button>
          </li>
        </ul>
        <ul class="home-hero-text-list">
          <li>
            <p class="home-hero-text">
              Whether you're in the mood for a hearty <br />
              breakfast, a light lunch, or a romantic <br />
              dinner, our menu has something for <br />
              everyone.
            </p>
          </li>
          <li>
            <p class="home-hero-text">
              At Hotel Mimino, we believe that great <br />
              food should be available to everyone, <br />
              no matter the time of day.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
