<!-- sergey -->

<section class="hotel-hero">
 <div class="container">
    <h1 class="hero-title">Hotel</h1>
    <div class="option-btns">
      <button class="button booking-btn pointer">Book a Room</button>
      <button class="button viewing-btn pointer">View Prices</button>
    </div>
    <p class="text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
     <span class="cursiv">romantic dinner</span>, our menu has something for everyone.
    </p>
    <div class="swipe-img-bloc">
      <ul class="imgs-list list">
        <li><picture></picture></li>
        <li><picture></picture></li>
        <li><picture></picture></li>
      </ul>
      <div class="swipe-buttons">
        <ul class="btns-list list">
          <li>
            <button class="btn-arrow button">
              <svg class="" width="7" height="14">
                <use href=""></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="btn-arrow button">
              <svg class="swipe-icon" width="7" height="14">
                <use href=""></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
   
