<!-- sergey -->
<section class="hotel-hero-2">
  <div class="hero-hotel container">
    <div class="left-bloc">
      <h1 class="hero-title">Hotel</h1>
      <div class="option-btns">
        <button type="button" class="btn-white button pointer">
          Book a Room
        </button>
        <button type="button" class="btn-white button pointer">
          View Prices
        </button>
      </div>
    </div>

    
      <div class="slider-img-block">
        <div class="hero-imgs">
          <ul class="hero-images list">
            <li class="hero-image">
              <picture class="swipe-picture">
                <source
                  srcset="../img/img_hotel-hero/1image_mob@1x.jpg 250w,
                  ../img/img_hotel-hero/1image_mob@2x.jpg 500w"
                  media="(max-width: 767px)"
                  width="250"
                  height="429"
                />
                <source
                  srcset="
                    ../img/img_hotel-hero/1image_tab@1x.jpg 436w,
                    ../img/img_hotel-hero/1image_tab@2x.jpg 872w
                  "
                  media="(max-width: 1439px)"
                  width="436"
                  height="580"
                />
                <source
                  srcset="../img/img_hotel-hero/1image_desk@1x.jpg 436w,
                    ../img/img_hotel-hero/1image_desk@2x.jpg 872w"
                  media="(min-width: 1440px)"
                  width="436"
                  height="580"
                />
                <img
                  src="../img/img_hotel-hero/1image_mob@1x.jpg"
                  alt="hotel-1"
                  width="250"
                  height="429"
                  class="swiper-slide"
                />
              </picture>
            </li>
            <li>
              <picture class="swipe-picture">
                <source
                  srcset="../img/img_hotel-hero/2image_mob@1x.jpg 250w,
                  ../img/img_hotel-hero/2image_mob@2x.jpg 500w"
                  media="(max-width: 767px)"
                  width="250"
                  height="429"
                />
                <source
                  srcset="../img/img_hotel-hero/2image_tab@1x.jpg 436w,
                    ../img/img_hotel-hero/2image_tab@2x.jpg 872w"
                  media="(max-width: 1439px)"
                  width="436"
                  height="580"
                />
                <source
                  srcset="../img/img_hotel-hero/2image_desk@1x.jpg 436w,
                  ../img/img_hotel-hero/2image_desk@2x.jpg 872w"
                  media="(min-width: 1440px)"
                  width="436"
                  height="580"
                />
                <img
                  src="../img/img_hotel-hero/2image_mob@1x.jpg"
                  alt="hotel-2"
                  width="250"
                  height="429"
                  class="swiper-slide"
                />
              </picture>
              <!-- <li class="hero-image">
              <img src="../img/img_hotel-hero/3image_mob@1x.jpg" alt="hotel3" width="250" class="swiper-slide">
            </li> -->
            </li>
          </ul>
        </div>
        <div class="slider-buttons">
          <ul class="btn-list list">
            <li class="slider-btn">
              <button class="btn-arrow btn">
                <svg class="swipe-icon" width="7" height="14">
                  <use
                    href="../img/img_hotel-hero/slider.svg#icon-VectorL"
                  ></use>
                </svg>
              </button>
            </li>
            <li class="slider-btn">
              <button class="btn-arrow btn">
                <svg class="swipe-icon" width="7" height="14">
                  <use
                    href="../img/img_hotel-hero/slider.svg#icon-VectorR"
                  ></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    
    <p class="text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or
      <span class="cursive">a romantic dinner</span>, our menu has something for
      everyone.
    </p>
  </div>
</section>
