<!-- sergey -->
<section class="hotel-hero-2">
  <div class="hero-hotel container">
    <div class="left-bloc">
      <h1 class="hero-title">Hotel</h1>
      <div class="option-btns">
        <button
          type="button"
          class="btn-white button pointer"
          data-modal-open
        >
          Book a Room
        </button>
        <button
          type="button"
          class="btn-white button pointer"
          data-prices-modal-open
        >
          View Prices
        </button>
      </div>
    </div>
    <div class="slider-img-block">
      <div class="hero-imgs">
        <ul class="hero-images list">
          <li class="hero-image">
            <picture class="hotels-hero-slider">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/img_hotel-hero/1image_desk@1x.jpg 1x,
                  ./img/img_hotel-hero/1image_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/img_hotel-hero/1image_tab@1x.jpg 1x,
                  ./img/img_hotel-hero/1image_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/img_hotel-hero/1image_mob@1x.jpg 1x,
                  ./img/img_hotel-hero/1image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/img_hotel-hero/1image_mob@1x.jpg"
                alt="hotel-hero-2"
                class="swiper-slide"
              />
            </picture>
          </li>
          <li class="hero-image">
            <picture class="hotels-hero-slider">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/img_hotel-hero/2image_desk@1x.jpg 1x,
                  ./img/img_hotel-hero/2image_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/img_hotel-hero/2image_tab@1x.jpg 1x,
                  ./img/img_hotel-hero/2image_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/img_hotel-hero/2image_mob@1x.jpg 1x,
                  ./img/img_hotel-hero/2image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/img_hotel-hero/2image_mob@1x.jpg"
                alt="hotel-hero-2"
                class="swiper-slide"
              />
            </picture>
          </li>
          <li class="hero-image">
              <picture class="hotels-hero-slider">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/img_hotel-hero/3image_desk@1x.jpg 1x,
                  ./img/img_hotel-hero/3image_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/img_hotel-hero/3image_tab@1x.jpg 1x,
                  ./img/img_hotel-hero/3image_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767.99px)"
                srcset="
                  ./img/img_hotel-hero/3image_mob@1x.jpg 1x,
                  ./img/img_hotel-hero/3image_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/img_hotel-hero/3image_mob@1x.jpg"
                alt="hotel-hero-3"
                class="swiper-slide"
              />
            </picture>
            </li> 
        </ul>
      </div>
      <div class="slider-buttons">
        <ul class="btn-list list">
          <li class="slider-btn">
            <button class="btn-arrow btn">
              <svg class="swipe-icon" width="7" height="14">
                <use
                  href="/img/img_hotel-hero/slider.svg#icon-vector-left"
                ></use>
              </svg>
            </button>
          </li>
          <li class="slider-btn">
            <button class="btn-arrow btn">
              <svg class="swipe-icon" width="7" height="14">
                <use
                  href="/img/img_hotel-hero/slider.svg#icon-vector-right"
                ></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <p class="text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or
      <span class="cursive">a romantic dinner</span>, our menu has something for
      everyone.
    </p>
  </div>
</section>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button  class="cls-button" data-modal-close>
            
      <svg class="icon-cls"  width="12" height="12"> 
          <use href="./img/svg-sprite/symbol-defs.svg#icon-Iconcls-btn-1"></use>
      </svg>
  </button>
    <p class="modal-title">
          <span class="mod-style">book&nbsp;</span>a room
        </p>
    <form class="order_form" name="order-form">
      <ul class="person-data list">
        <li class="order-form-group">
          <input
            class="order-form-field"
            id="user-name"
            name="user-name"
            type="text"
            placeholder="YOUR NAME"
            required
          />
          <label class="order-form-label" for="user-name"
            >Who should book a table for?</label
          >
        </li>
        <li class="order-form-group">
          <input
            class="order-form-field"
            id="phone"
            name="phone"
            type="tel"
            placeholder="+38 (___) ___-__-__"
            required 
            pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){12}(\s*)?"
            minlength="7" maxlength="19" 
          />
          <label class="order-form-label" for="user-phone">phone number</label>
        </li>
      </ul>

      <ul class="option-data list">
        <li class="order-form-group">
          <!-- <input
            class="order-form-field"
            id="calendar"
            name="calendar"
            type="date"  
            required
          /> -->

          
          <select id="days" name="days" class="order-form-field">
            <svg class="select-icon" width="20px" height="20px">
              <use href="../img/img_hotel-hero/select.svg#icon-select"></use>
            </svg>
            <option value="date" selected>today</option>
            <option value="date">tomorrow</option>
            <option value="date">day after tomorrow</option>
          </select> 
         <label class="order-form-label" for="user-mail">check-in date</label> 
        </li>
        <li class="order-form-group">
          <!-- <input
            class="order-form-field"
            id="user-mail"
            name="user-mail"
            type="text"
            required
          /> -->
          
          <select id="calender" name="calender" class="order-form-field">
            <svg class="select-icon" width="20px" height="20px">
              <use href="../img/img_hotel-hero/select.svg#icon-select"></use>
            </svg>
            <option value="date" selected>25.03.2023</option>
            <option value="date">26.03.2023</option>
            <option value="date">27.03.2023</option>
          </select>
          <label class="order-form-label" for="user-mail">check-out date</label>
        </li>
        <li class="order-form-group">
          <!-- <input
            class="order-form-field"
            id="user-mail"
            name="user-mail"
            type="text"
            required
          /> -->
          
          <select id="rooms" name="rooms" class="order-form-field">
            <svg class="select-icon" width="20px" height="20px">
              <use href="../img/img_hotel-hero/select.svg#icon-select"></use>
            </svg>
            <option value="room" selected>double suite</option>
            <option value="room">Double Luxury Room</option>
            <option value="room">triple room</option>
          </select>
          <label class="order-form-label" for="user-mail"
            >number categoty</label
          >
        </li>
      </ul>
      <button class="btn-send button pointer" type="submit">
        make a reservation
      </button>
    </form>
  </div>
</div>
<script src="./main.js" type="modsule"></script> 
<script src="./js/modal.js"></script>
 <script src="./public/js-menu/modal.js"></script>
