<!-- Alexey -->

<section class="location">
  <div class="container">
    <h2 class="section-title">Location</h2>

    <div class="maps">
      <iframe
        class="mini-map"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5171.903990071633!2d34.51557172338513!3d49.59865471229676!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1677862850067!5m2!1sru!2sua"
        width="280"
        height="384"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="maps">
      <iframe
        class="mobile-map"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5171.903990071633!2d34.51557172338513!3d49.59865471229676!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1677862850067!5m2!1sru!2sua"
        width="335"
        height="384"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="maps">
      <iframe
        class="tab-map"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5171.903990071633!2d34.51557172338513!3d49.59865471229676!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1677862850067!5m2!1sru!2sua"
        width="704"
        height="576"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="flexbox">
      <div class="maps">
        <iframe
          class="desktop-map"
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5171.903990071633!2d34.51557172338513!3d49.59865471229676!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1677862850067!5m2!1sru!2sua"
          width="640"
          height="524"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <ul class="contact">
        <li class="contact-item">
          <p class="adress">Ukraine, Poltava,</p>
          <p class="adress">St. Marshal Biryuzov, 15</p>
        </li>

        <li>
          <ul class="flex">
            <li>
              <p class="appeal">call us:</p>
            </li>
            <li>
              <p>
                <a class="phone" href="tel:+380955559533"
                  >(095) 555 95 33</a
                >
              </p>

              <p>
                <a class="phone" href="tel:+380668491089"
                  >(066) 849 10 89</a
                >
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>

