<!-- Modal -->
<!-- Modal window  -->
<div class="backdrop is-hidden" data-modal-prices>
    <div class="modal-prices">
      <button type="button" class="cls-button" data-prices-modal-close>
        <svg class="icon-cls" width="12" height="12">
          <use href="./img/svg-sprite/symbol-defs.svg#icon-Iconcls-btn-1"></use>
        </svg>
      </button>
      <strong class="title-modal">Prices per room</strong>
      <div class="form-container-prices">
        <h2 class="title-prices-modal">Double suite</h2>
        <form class="form-prices" autocomplete="off">
          <div class="wrapper-price-form">
            <div class="form-label-prices price-number-night">
              <select
                class="dropdown-color-prices"
                id="number-night"
                name="number-night"
              >
                <option value="xs" selected>1</option>
                <option value="s">2</option>
                <option value="m">3</option>
                <option value="l">4</option>
              </select>
              <label class="form-prices-label" for="number-night" required
                >Number og night</label
              >
            </div>
            <div class="form-label-prices">
              <select
                type="date"
                class="dropdown-color-prices"
                id="date"
                name="date"
              >
                <option value="25/04/2023" selected>25/04/2023</option>
                <option value="26/04/2023">26/04/2023</option>
                <option value="27/04/2023">27/04/2023</option>
                <option value="28/04/2023">28/04/2023</option>
                <option value="29/04/2023">29/04/2023</option>
                <option value="30/04/2023">30/04/2023</option></select
              ><label class="form-prices-label" for="date" required>
                Check-in date
              </label>
            </div>
  
            <div class="form-label-prices price-input">
              <input
                class="form-input-prices"
                type="text"
                name="uan"
                min="3"
                placeholder="1000"
                required
              />
              <label class="form-prices-label" for="uan">uan</label>
            </div>
          </div>
          <button class="btn-black btn-send" type="submit">
            MAKE A RESERVATION
          </button>
        </form>
      </div>
    </div>
  </div>