<!-- Violeta -->
<section class="restaurant-menu" id="restaurant-menu-section"> 
  <div class="container">
    <div class="wrapper-restaurant">
    <h2 class="title-menu">Restaurant Menu</h2>
    <div class="swiper">
    <ul class="list-menu swiper-wrapper">
      <li class="item-item swiper-slide">
        <h3 class="title-item-menu">Hot meals</h3>
        <ul>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Veal borscht with beans</h4>
              <p class="dish-details">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">240 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Cheese soup with chicken</h4>
              <p class="dish-details">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">200 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Carbonara pasta</h4>
              <p class="dish-details">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">430 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Pork steak</h4>
              <p class="dish-details">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">500 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Gorbusha in white wine sauce</h4>
              <p class="dish-details">
                Tender redfish, cream sauce based on white wine
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">400 UAH</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="item-item swiper-slide">
        <h3 class="title-item-menu">Side dishes and snacks</h3>
        <ul>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Baked vegetables</h4>
              <p class="dish-details">Zucchini, pepper, tomato, eggplant</p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">200 g</span>
              <span class="price">230 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">French fries</h4>
              <p class="dish-details">Potatoes, tomato sauce</p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">150 g</span>
              <span class="price">160 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Peasant-style potatoes</h4>
              <p class="dish-details">Potatoes, spices, spicy sauces</p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">150 g</span>
              <span class="price">160 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Crisp pickles from the barrel</h4>
              <p class="dish-details">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">250 g</span>
              <span class="price">350 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Chicken wings in honey sauce</h4>
              <p class="dish-details">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price"></span>
            </div>
          </li>
        </ul>
      </li>
      <li class="item-item swiper-slide">
        <h3 class="title-item-menu">Salads</h3>
        <ul>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Caesar with chicken</h4>
              <p class="dish-details">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">450 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Caesar with shrimp</h4>
              <p class="dish-details">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">300 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Greek salad</h4>
              <p class="dish-details">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">280 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Meat salad</h4>
              <p class="dish-details">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">300 UAH</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="item-item dessert-drink swiper-slide">
        <div>
        <h3 class="title-item-menu">Desserts</h3>
        <ul>
          <li class="dish">
            <h4 class="dish-name">Napoleon cake</h4>
            <span class="price">200 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Poppy cake</h4>
            <span class="price">300 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Tiramisu</h4>
            <span class="price">260 UAH</span>
          </li>
        </ul>
      </div>
        <div>
        <h3 class="title-item-menu">Drinks</h3>
        <ul>
          <li class="dish">
            <h4 class="dish-name">Black/green tea</h4>
            <span class="price"> 100 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Espresso</h4>
            <span class="price"> 100 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Cappuccino</h4>
            <span class="price"> 100 UAH</span>
          </li>
        </div>
        </ul>
      </li>
    </ul>
    <ul class="btn-slider-list list">
      <li class="slider-btn">
        <button class="btn-arrow btn swiper-button-prev">
          <svg class="swipe-icon-menu" width="7" height="14">
            <use href="./img/img_hotel-hero/slider.svg#icon-VectorL"></use>
          </svg>
        </button>
      </li>
      <li class="slider-btn">
        <button class="btn-arrow btn swiper-button-next">
          <svg class="swipe-icon-menu" width="7" height="14">
            <use href="./img/img_hotel-hero/slider.svg#icon-VectorR"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
   <div class="desktop-restaurant-menu">
    <ul class="list-menu swiper-wrapper">
      <li class="item-item swiper-slide">
        <h3 class="title-item-menu">Hot meals</h3>
        <ul>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Veal borscht with beans</h4>
              <p class="dish-details">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">240 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Cheese soup with chicken</h4>
              <p class="dish-details">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">200 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Carbonara pasta</h4>
              <p class="dish-details">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">430 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Pork steak</h4>
              <p class="dish-details">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">500 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Gorbusha in white wine sauce</h4>
              <p class="dish-details">
                Tender redfish, cream sauce based on white wine
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price">400 UAH</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="item-item swiper-slide">
        <h3 class="title-item-menu">Side dishes and snacks</h3>
        <ul>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Baked vegetables</h4>
              <p class="dish-details">Zucchini, pepper, tomato, eggplant</p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">200 g</span>
              <span class="price">230 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">French fries</h4>
              <p class="dish-details">Potatoes, tomato sauce</p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">150 g</span>
              <span class="price">160 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Peasant-style potatoes</h4>
              <p class="dish-details">Potatoes, spices, spicy sauces</p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">150 g</span>
              <span class="price">160 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Crisp pickles from the barrel</h4>
              <p class="dish-details">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">250 g</span>
              <span class="price">350 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Chicken wings in honey sauce</h4>
              <p class="dish-details">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">400 g</span>
              <span class="price"></span>
            </div>
          </li>
        </ul>
      </li>
      <li class="item-item swiper-slide">
        <h3 class="title-item-menu">Salads</h3>
        <ul>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Caesar with chicken</h4>
              <p class="dish-details">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">450 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Caesar with shrimp</h4>
              <p class="dish-details">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">300 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Greek salad</h4>
              <p class="dish-details">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">280 UAH</span>
            </div>
          </li>
          <li class="dish">
            <div class="wrapper-dish">
              <h4 class="dish-name">Meat salad</h4>
              <p class="dish-details">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
            </div>
            <div class="wrapper-size-price">
              <span class="dish-size">230 g</span>
              <span class="price">300 UAH</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="item-item dessert-drink swiper-slide">
        <div>
        <h3 class="title-item-menu">Desserts</h3>
        <ul>
          <li class="dish">
            <h4 class="dish-name">Napoleon cake</h4>
            <span class="price">200 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Poppy cake</h4>
            <span class="price">300 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Tiramisu</h4>
            <span class="price">260 UAH</span>
          </li>
        </ul>
      </div>
        <div>
        <h3 class="title-item-menu">Drinks</h3>
        <ul>
          <li class="dish">
            <h4 class="dish-name">Black/green tea</h4>
            <span class="price"> 100 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Espresso</h4>
            <span class="price"> 100 UAH</span>
          </li>
          <li class="dish">
            <h4 class="dish-name">Cappuccino</h4>
            <span class="price"> 100 UAH</span>
          </li>
        </div>
        </ul>
      </li>
    </ul>
    <ul class="btn-slider-list list">
      <li class="slider-btn">
        <button class="btn-arrow btn swiper-button-prev">
          <svg class="swipe-icon-menu" width="7" height="14">
            <use href="./img/img_hotel-hero/slider.svg#icon-VectorL"></use>
          </svg>
        </button>
      </li>
      <li class="slider-btn">
        <button class="btn-arrow btn swiper-button-next">
          <svg class="swipe-icon-menu" width="7" height="14">
            <use href="./img/img_hotel-hero/slider.svg#icon-VectorR"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
    <button type="button" class="button btn-black btn-menu-restaurant">
      Book a table
    </button></div>
  </div>
</section>
