<!-- Dionisii -->
<section class="restaurant-hero section">

    <div class="container">
        <h1 class="restaurant-title">Restaurant</h1>

        <ul class="rest-list-btn">
            <button type="button" class="button btn-white">book a table</button>
            <button type="button" class="button btn-white">View a menu</button>
        </ul>
        <article class="rest-parag">
            <p class="restaurant-p">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
        </article>

        <div class="">
            <picture class="">
                <source
                  media="(min-width:1440px)"
                  srcset=""
                  type=""
                />
                <source
                  media="(min-width:768px)"
                  srcset=""
                  type=""
                />
                <source
                  media="(max-width:767.99px)"
                  srcset=""
                  type=""
                />
                <img
                  src=""
                  alt=""
                  loading="lazy"
                  width=""
                  height=""
                />
              </picture>
        </div>
        <div class="">
            <picture class="">
                <source
                  media="(min-width:1440px)"
                  srcset=""
                  type=""
                />
                <source
                  media="(min-width:768px)"
                  srcset=""
                  type=""
                />
                <source
                  media="(max-width:767.99px)"
                  srcset=""
                  type=""
                />
                <img
                  src=""
                  alt=""
                  loading="lazy"
                  width=""
                  height=""
                />
              </picture>
        </div>
        <div class="">
            <picture class="">
                <source
                  media="(min-width:1440px)"
                  srcset=""
                  type=""
                />
                <source
                  media="(min-width:768px)"
                  srcset=""
                  type=""
                />
                <source
                  media="(max-width:767.99px)"
                  srcset=""
                  type=""
                />
                <img
                  src=""
                  alt=""
                  loading="lazy"
                  width=""
                  height=""
                />
              </picture>
        </div>
        <ul>
            <button type="button" class=""></button>
            <button type="button" class=""></button>
        </ul>
    </div>

</section>