<!-- Dionisii -->
<section class="restaurant-hero section">

    <div class="container">
        <h1 class="restaurant-title">Restaurant</h1>

        <ul class="">
            <button class="button">book a table</button>
            <button class="button">View a menu</button>
        </ul>
        <article style="width: 338px;">
            <p class="restaurant-p">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
        </article>

        <ul>    
            <img src="" alt="">
            <src>
                <use href=""></use>
            </src>
            <img src="" alt="">
            <src>
                <use href=""></use>
            </src>
        </ul>

        <ul>
            <button class=""></button>
            <button class=""></button>
        </ul>
    </div>

</section>