<section class="about-kitchen">
  <div class="container">
    <h2 class="visually-hidden">About kitchen</h2>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/Restaurant-page/about-kitchen/img_desk.webp    1x,
          ./img/Restaurant-page/about-kitchen/img_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/Restaurant-page/about-kitchen/img_desk.jpg    1x,
          ./img/Restaurant-page/about-kitchen/img_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/Restaurant-page/about-kitchen/img_tablet.webp    1x,
          ./img/Restaurant-page/about-kitchen/img_tablet@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/Restaurant-page/about-kitchen/img_tablet.jpg    1x,
          ./img/Restaurant-page/about-kitchen/img_tablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/Restaurant-page/about-kitchen/img_mob.webp    1x,
          ./img/Restaurant-page/about-kitchen/img_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/Restaurant-page/about-kitchen/img_mob.jpg    1x,
          ./img/Restaurant-page/about-kitchen/img_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="about-kitchen-chef"
        src="./src/img/Restaurant-page/about-kitchen/img_mob.jpg"
        alt="chef"
        loading="lazy"
      />
    </picture>
    <div class="about-kitchen-img-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_desk-small-one.webp    1x,
            ./img/Restaurant-page/about-kitchen/img_desk-small-one@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_desk-small-one.jpg    1x,
            ./img/Restaurant-page/about-kitchen/img_desk-small-one@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_tablet-small-one.webp    1x,
            ./img/Restaurant-page/about-kitchen/img_tablet-small-one@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_tablet-small-one.jpg    1x,
            ./img/Restaurant-page/about-kitchen/img_tablet-small-one@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_mob-small-one.webp    1x,
            ./img/Restaurant-page/about-kitchen/img_mob-small-one@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_mob-small-one.jpg    1x,
            ./img/Restaurant-page/about-kitchen/img_mob-small-one@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class=""
          src="./src/img/Restaurant-page/about-kitchen/img_mob-small-one.jpg"
          alt="steak"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_desk-small-two.webp    1x,
            ./img/Restaurant-page/about-kitchen/img_desk-small-two@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_desk-small-two.jpg    1x,
            ./img/Restaurant-page/about-kitchen/img_desk-small-two@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_tablet-small-two.webp    1x,
            ./img/Restaurant-page/about-kitchen/img_tablet-small-two@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_tablet-small-two.jpg    1x,
            ./img/Restaurant-page/about-kitchen/img_tablet-small-two@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_mob-small-two.webp    1x,
            ./img/Restaurant-page/about-kitchen/img_mob-small-two@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/Restaurant-page/about-kitchen/img_mob-small-two.jpg    1x,
            ./img/Restaurant-page/about-kitchen/img_mob-small-two@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class=""
          src="./src/img/Restaurant-page/about-kitchen/img_mob-small-two.jpg"
          alt="cocktail"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="about-kitchen-text-wrapper">
      <p class="about-kitchen-text">
        At Mimino, we are experts in m<span class="italic"
          >eat preparation</span
        >
        . Our chefs use only the finest and freshest ingredients to
        <span class="italic">create delicious dishes</span> that showcase the
        flavors of premium cuts of meat.
      </p>
      <p class="about-kitchen-text">
        Our <span class="italic">slow-cooking process</span> and expert
        seasoning bring out the best in each dish, making for an unforgettable
        dining experience. Come taste the magic
        <span class="italic">of meat preparation at</span> Mimino.
      </p>
    </div>
  </div>
</section>
