<!-- Roman -->

<section class="section-container">

    </div>
    <ul class="swipe-img-bloc">
      <li>
        <picture class="swipe-picture">
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-1-mob@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-1-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            width="157"
            height="201"
          />
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-1-tablet@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-1-tablet@2x.webp 2x
            "
            media="(max-width: 1439px)"
            width="336"
            height="309"
          />
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-1-desk@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-1-desk@2x.webp 2x
            "
            media="(min-width: 1440px)"
            width="266"
            height="309"
          />
          <img
            src="../img/home-page/restaurant-swipe/image-1-mob.jpg"
            alt="Resraurant picture"
            width="157"
            height="201"
          />
        </picture>
      </li>
      <li>
        <picture class="swipe-picture">
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-2-mob@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-2-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            width="157"
            height="201"
          />
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-2-tablet@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-2-tablet@2x.webp 2x
            "
            media="(max-width: 1439px)"
            width="336"
            height="309"
          />
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-2-desk@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-2-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            width="266"
            height="309"
          />
          <img
            src="../img/home-page/restaurant-swipe/image-2-mob.jpg"
            alt="Resraurant picture"
            width="158"
            height="201"
          />
        </picture>
      </li>
      <li class="ghost">
        <picture class="swipe-picture">
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-3-desk@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-3-desk@2x.webp 2x
            "
          />
          <img
            src="../img/home-page/restaurant-swipe/image-3-desk.jpg"
            alt="Resraurant picture"
            width="266"
            height="309"
          />
        </picture>
      </li>
      <li class="ghost">
        <picture class="swipe-picture">
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-4-desk@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-4-desk@2x.webp 2x
            "
          />
          <img
            src="../img/home-page/restaurant-swipe/image-4-desk.jpg"
            alt="Resraurant picture"
            width="266"
            height="309"
          />
        </picture>
      </li>
      <li class="ghost">
        <picture class="swipe-picture">
          <source
            srcset="
              ../img/home-page/restaurant-swipe/image-5-desk@1x.webp 1x,
              ../img/home-page/restaurant-swipe/image-5-desk@2x.webp 2x
            "
          />
          <img
            src="../img/home-page/restaurant-swipe/image-5-desk.jpg"
            alt="Resraurant picture"
            width="266"
            height="309"
          />
        </picture>
      </li>
    </ul>
    <div class="slider-buttons">
      <ul class="btn-list list">
        <li class="slider-btn">
          <button class="btn-arrow btn">
            <svg class="swipe-icon" width="7" height="14">
              <use href="../img/img_hotel-hero/slider.svg#icon-VectorL"></use>
            </svg>
          </button>
        </li>
        <li class="slider-btn">
          <button class="btn-arrow btn">
            <svg class="swipe-icon" width="7" height="14">
              <use href="../img/img_hotel-hero/slider.svg#icon-VectorR"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="swipe-buttons">
      <button class="swipe-button button" type="button">book a table</button>
      <a href="/src/page-3.html">
        <button class="swipe-button button" type="button">View the menu</button>
      </a>
    </div>
  </div>
</section>
