<!-- Katerina/d -->
<section class="room-hero room-section">
  <div class="container">
    <h1 class="room-hero-title">
      Double <span class="luxury-title">luxury</span> room
    </h1>
    <button type="button" class="button btn-white" data-prices-modal-open>
      view prices
    </button>
    <div class="room-image-wrap">
      <div class="color-box">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/room-page/room-bedroom-desktop.jpg    1x,
              ./img/room-page/room-bedroom-desktop-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/room-page/room-bedroom-tablet.jpg    1x,
              ./img/room-page/room-bedroom-tablet-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/room-page/room-bedroom-mobile.jpg    1x,
              ./img/room-page/room-bedroom-mobile-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room-page/room-bedroom-mobile.jpg"
            alt="Bedroom"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="color-box">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/room-page/room-kitchen-desktop.jpg    1x,
              ./img/room-page/room-kitchen-desktop-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/room-page/room-kitchen-tablet.jpg    1x,
              ./img/room-page/room-kitchen-tablet-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/room-page/room-kitchen-mobile.jpg    1x,
              ./img/room-page/room-kitchen-mobile-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room-page/room-kitchen-mobile.jpg"
            alt="Kitchen"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="color-box">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/room-page/room-living-desktop.jpg    1x,
              ./img/room-page/room-living-desktop-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/room-page/room-living-tablet.jpg    1x,
              ./img/room-page/room-living-tablet-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/room-page/room-living-mobile.jpg    1x,
              ./img/room-page/room-living-mobile-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room-page/room-living-mobile.jpg"
            alt="Living room"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <ul class="rest-swiperd">
      <li class="slider-btn">
        <button class="btn-arrow btn">
          <svg class="swipe-icon" width="7" height="14">
            <use href="/img/img_hotel-hero/slider.svg#icon-vector-left"></use>
          </svg>
        </button>
      </li>
      <li class="slider-btn">
        <button class="btn-arrow btn">
          <svg class="swipe-icon" width="7" height="14">
            <use href="/img/img_hotel-hero/slider.svg#icon-vector-right"></use>
          </svg>
        </button>
      </li>
    </ul>

    <div class="room-parag">
      <p>
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
  </div>
</section>
<!-- Modal window  -->
<div class="backdrop is-hidden" data-prices-modal>
  <div class="modal-prices">
    <button type="button" class="cls-button" data-prices-modal-close>
      <svg class="icon-cls" width="12" height="12">
        <use href="./img/svg-sprite/symbol-defs.svg#icon-Iconcls-btn-1"></use>
      </svg>
    </button>
    <strong class="title-modal">Prices per room</strong>
    <div class="form-container-prices">
      <h2 class="title-prices-modal">Double suite</h2>
      <form class="form-prices" autocomplete="off">
        <div class="wrapper-price-form">
          <div class="form-label-prices price-number-night">
            <select
              class="dropdown-color-prices"
              id="number-night"
              name="number-night"
            >
              <option value="xs" selected>1</option>
              <option value="s">2</option>
              <option value="m">3</option>
              <option value="l">4</option>
            </select>
            <label class="form-prices-label" for="number-night" required
              >Number og night</label
            >
          </div>
          <div class="form-label-prices">
            <select
              type="date"
              class="dropdown-color-prices"
              id="date"
              name="date"
            >
              <option value="25/04/2023" selected>25/04/2023</option>
              <option value="26/04/2023">26/04/2023</option>
              <option value="27/04/2023">27/04/2023</option>
              <option value="28/04/2023">28/04/2023</option>
              <option value="29/04/2023">29/04/2023</option>
              <option value="30/04/2023">30/04/2023</option></select
            ><label class="form-prices-label" for="date" required>
              Check-in date
            </label>
          </div>

          <div class="form-label-prices price-input">
            <input
              class="form-input-prices"
              type="text"
              name="uan"
              min="3"
              placeholder="1000"
              required
            />
            <label class="form-prices-label" for="uan">uan</label>
          </div>
        </div>
        <button class="btn-black btn-send" type="submit">
          MAKE A RESERVATION
        </button>
      </form>
    </div>
  </div>
</div>
