<!-- Katerina/d -->
<section class="room-hero room-section">
  <div class="container">
    <h1 class="room-hero-title">
      Double <span class="luxury-title">luxury</span> room
    </h1>
    <button type="button" class="button btn-white" data-prices-modal-open>
      view prices
    </button>
    <div class="room-image-wrap">
      <div class="color-box">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/room-page/room-bedroom-desktop.jpg    1x,
              ./img/room-page/room-bedroom-desktop-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/room-page/room-bedroom-tablet.jpg    1x,
              ./img/room-page/room-bedroom-tablet-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/room-page/room-bedroom-mobile.jpg    1x,
              ./img/room-page/room-bedroom-mobile-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room-page/room-bedroom-mobile.jpg"
            alt="Bedroom"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="color-box">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/room-page/room-kitchen-desktop.jpg    1x,
              ./img/room-page/room-kitchen-desktop-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/room-page/room-kitchen-tablet.jpg    1x,
              ./img/room-page/room-kitchen-tablet-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/room-page/room-kitchen-mobile.jpg    1x,
              ./img/room-page/room-kitchen-mobile-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room-page/room-kitchen-mobile.jpg"
            alt="Kitchen"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="color-box">
        <picture class="">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/room-page/room-living-desktop.jpg    1x,
              ./img/room-page/room-living-desktop-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/room-page/room-living-tablet.jpg    1x,
              ./img/room-page/room-living-tablet-2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/room-page/room-living-mobile.jpg    1x,
              ./img/room-page/room-living-mobile-2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/room-page/room-living-mobile.jpg"
            alt="Living room"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <ul class="rest-swiperd">
      <li class="slider-btn">
        <button class="btn-arrow btn">
          <svg class="swipe-icon" width="7" height="14">
            <use href="/img/img_hotel-hero/slider.svg#icon-vector-left"></use>
          </svg>
        </button>
      </li>
      <li class="slider-btn">
        <button class="btn-arrow btn">
          <svg class="swipe-icon" width="7" height="14">
            <use href="/img/img_hotel-hero/slider.svg#icon-vector-right"></use>
          </svg>
        </button>
      </li>
    </ul>

    <div class="room-parag">
      <p>
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
  </div>
</section>
