<!-- Violeta -->
<section class="triple-room">
  <div class="container">
    <div class="wrapper-foto">
      <picture class="basis-foto">
        <source
          media="(min-width:1440px)"
          srcset="
            ./img/hotel-page/triple-room/img-1_desk.jpg    1x,
            ./img/hotel-page/triple-room/img-1_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width:768px)"
          srcset="
            ./img/hotel-page/triple-room/img-1_tab.jpg    1x,
            ./img/hotel-page/triple-room/img-1_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width:767.99px)"
          srcset="
            ./img/hotel-page/triple-room/img-1_mob.jpg    1x,
            ./img/hotel-page/triple-room/img-1_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./img/hotel-page/triple-room/img-1_mob.jpg"
          alt="Foto of room"
          loading="lazy"
        />
      </picture>
      <div class="wrapper-img">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/hotel-page/triple-room/img-2_desk.jpg    1x,
              ./img/hotel-page/triple-room/img-2_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/hotel-page/triple-room/img-2_tab.jpg    1x,
              ./img/hotel-page/triple-room/img-2_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/hotel-page/triple-room/img-2_mob.jpg    1x,
              ./img/hotel-page/triple-room/img-2_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel-page/triple-room/img-2_mob.jpg"
            alt="Foto of room"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/hotel-page/triple-room/img-3_desk.jpg    1x,
              ./img/hotel-page/triple-room/img-3_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/hotel-page/triple-room/img-3_tab.jpg    1x,
              ./img/hotel-page/triple-room/img-3_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767.99px)"
            srcset="
              ./img/hotel-page/triple-room/img-3_mob.jpg    1x,
              ./img/hotel-page/triple-room/img-3_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./img/hotel-page/triple-room/img-3_mob.jpg"
            alt="Foto of room"
            loading="lazy"
          />
          <!-- fixed -->
        </picture>
      </div>
    </div>
    <div class="container-text">
      <div class="container-info">
        <h2 class="title-room">Triple Room</h2>
        <div class="text-wrapper">
          <p class="text-triple-room">
            Escape to our spacious Triple Room, perfect for families or groups.
            Enjoy comfort with three beds, seating area, stunning views,
            flat-screen TVs, Wi-Fi, and mini-fridge.
          </p>
          <p class="text-triple-room">
            Rejuvenate in the en-suite bathroom with plush towels and
            toiletries. Book now for a memorable stay.
          </p>
        </div>
      </div>
      <ul class="wrapper-button">
        <li><a href="page-4.html" class="button btn-white">More details</a></li>
        <li>
          <butoon type="button" class="button btn-white" data-prices-modal-open
            >View prices</butoon
          >
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Modal -->
<!-- Modal window  -->
<div class="backdrop is-hidden" data-prices-modal>
  <div class="modal-prices">
    <button type="button" class="cls-button" data-prices-modal-close>
      <svg class="icon-cls" width="12" height="12">
        <use href="./img/svg-sprite/symbol-defs.svg#icon-Iconcls-btn-1"></use>
      </svg>
    </button>
    <div class="form-container">
      <strong class="title-modal">Prices per room</strong>
      <h2 class="title-prices-modal">Double suite</h2>
      <form class="form" autocomplete="off">
        <div>
          <div class="order-group">
            <select class="dropdown-color" id="date" name="date">
              <option value="25/04/2023" selected>25/04/2023</option>
              <option value="26/04/2023">26/04/2023</option>
              <option value="27/04/2023">27/04/2023</option>
              <option value="28/04/2023">28/04/2023</option>
              <option value="29/04/2023">29/04/2023</option>
              <option value="30/04/2023">30/04/2023</option></select
            ><label class="form-prices-label" for="date" required>
              Check-in date
            </label>
          </div>
          <div class="order-group">
            <select
              class="dropdown-color"
              id="number-night"
              name="number-night"
            >
              <option value="xs" selected>1</option>
              <option value="s">2</option>
              <option value="m">3</option>
              <option value="l">4</option>
            </select>
            <label class="form-prices-label" for="number-night" required
              >Number og night</label
            >
          </div>
          <div class="order-group">
            <input
              class="form-input"
              type="text"
              name="uan"
              min="3"
              placeholder="1000"
              required
            />
            <label class="form-prices-label" for="uan">uan</label>
          </div>
        </div>
        <button class="btn-black btn-send" type="submit">
          MAKE A RESERVATION
        </button>
      </form>
    </div>
  </div>
</div>
