<section class="welcome-complex">
  <div class="welcome-complex-container container">
    <div class="welcome-complex-wrapper">
      <h2 class="welcome-complex-header">
        Welcome to the epitome of
        <span class="welcome-complex-header-italic">luxury</span> and
        <span class="welcome-complex-header-italic">comfort</span>
      </h2>
      <div class="welcome-complex-text-wrapper">
        <p class="welcome-complex-text">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </p>
        <p class="welcome-complex-text">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right. Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </p>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/home-page/welcome-complex/image-welcome-complex_desk@1x.webp 1x,
          ./img/home-page/welcome-complex/image-welcome-complex_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/home-page/welcome-complex/image-welcome-complex_desk@1x.jpg 1x,
          ./img/home-page/welcome-complex/image-welcome-complex_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/home-page/welcome-complex/image-welcome-complex_tablet@1x.webp 1x,
          ./img/home-page/welcome-complex/image-welcome-complex_tablet@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/home-page/welcome-complex/image-welcome-complex_tablet@1x.jpg 1x,
          ./img/home-page/welcome-complex/image-welcome-complex_tablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/home-page/welcome-complex/image-welcome-complex_mob@1x.webp 1x,
          ./img/home-page/welcome-complex/image-welcome-complex_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/home-page/welcome-complex/image-welcome-complex_mob@1x.jpg 1x,
          ./img/home-page/welcome-complex/image-welcome-complex_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class=""
        src="./img/home-page/welcome-complex/image-welcome-complex_mob@1x.jpg"
        alt="comfort"
        loading="lazy"
      />
    </picture>
  </div>
</section>
