
/* Шапка */




.home-header {
    background-color: #121212;
    color: #F7F7F7;
    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
    width: 100%;
     
   
    


}

@media screen and (min-width:1440px) {

    .home-header {
        position: fixed;
        transform: translateX(-0.1.5%);
        z-index: 1000;
        background-color: transparent;
      
        
        

    }
    .home-header.no-transparency {
        
    
        background: linear-gradient(to right, #3c3b3f, #605c3c);
        backdrop-filter: blur(400px);
        
    
    
    
    }

}

.home-header-box {
    display: flex;
    align-items: center;
}







/* Бургер */

.home-header-menu-open {
    width: 28px;
    height: 28px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}





/* Логотип */

.home-header-site-logo {
    display: block;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 83px;
}

.home-header-logo-mimino {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #f7f7f7;
}

.home-header-logo-complex {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 1.33;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #d8d7d7;
}

/* Соц-сети */

.home-header-site-social {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
}

.black-icon {
border: 1.5px solid #F7F7F7;
}

/* Медиа мобильные */

@media screen and (max-width: 767px) {
    .home-header-site-nav {
        display: none;
    }

    .home-header-site-social {
        display: none;
    }

}

/* Медиа Планшет */

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .home-header-site-nav {
        display: none;
    }

    .home-header-site-logo {
        margin-left: 246px;
    }

    .home-header-menu-open {
        width: 32px;
        height: 32px;
    }

    .home-header-menu-icon {
        width: 32px;
        height: 32px;
    }
}

/* Медиа ПК */

@media screen and (min-width: 1440px) {
    .home-header-menu-open {
        display: none;
    }

    .home-header-site-logo {
        margin-left: 370px;
    }

    .home-header-site-nav {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .home-header-nav-link {
        position: relative;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #f7f7f7;
    }

    .current::after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: 19.5px;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #f7f7f7;
    }
}

/* Медиа общие Планшет - ПК */

@media screen and (min-width: 768px) {
    .home-header-box {
        justify-content: space-between;
    }

    .home-header-logo-mimino {
        font-size: 20px;
        line-height: 1.2;
    }

    .home-header-logo-complex {
        font-size: 8px;
        line-height: 1.25;
    }
}

/* Меню */

/* Header Menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #121212;
    transform: translateX(-140%);
    overflow: scroll;
    transition: translate , 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
    
    
    
}

.is-open {
 transform: translate(0);
 


    

}

.header-menu {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
   
}

.menu-close-button {
    background-color: transparent;
}

.menu-home-header-site-logo {

text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .menu-home-header-site-logo {
        margin-left: 83px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .menu-home-header-site-logo {
        margin-left: 246px;
    }
}

/* Main Menu */

.main-menu-box {
    padding-bottom: 24px;
}

.menu-site-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-top: 128px;
    margin-bottom: auto;
}

.menu-nav-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #f7f7f7;
}

.header-menu-social-list {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto ;
}

@media screen and (max-width:767px) {
    .header-menu-social-list {
    position: absolute;
        bottom: 24px;
        left: 20px;
    }
}



@media screen and (min-width: 768px) and (max-width: 1439px) {
    .menu-nav-title {
        font-size: 28px;
        line-height: 1.14;
    }

}

@media screen and (min-width:1440px) {
    .menu {
    display: none;}

    
    
}
