/* pavel */

.hero {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 900px;

}

.home-hero-box {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, #121212 98.51%);
    background-image:
        url(../img/bg-icon/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    width: 335px;
    height: 439px;



}

@media screen and (min-width:768px) and (max-width:1199px) {

    .home-hero-box {
    background-image: url(../img/bg-icon/tablet.png);}
}




.home-hero-title {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #f7f7f7;
    text-align: center;
    padding-top: 389px;
    margin-bottom: 24px;
}

.home-hero-text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.home-hero-button-list {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center;
    margin-bottom: 74px;
}

.home-hero-button {
    width: 100%;
    height: 34px;
    border-radius: 32px;
    border: 0.8px solid #f7f7f7;
    padding: 8px 18px;
    background-color: transparent;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #f7f7f7;
}

.home-hero-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #f7f7f7;
}
