/* Anton */
/* - mobile: верстка гумова, стає адаптивною на 375px;
- tablet: 768px;
- desktop: 1440px */

/* -----------------------------------basic styles--------------------------------------------------------------------------- */
:root {
--hotel-description-text-color: #f6f6f6;
--hotel-description-background-color: #121212;  
}
/* Utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
body {
    font-family: DM Sans;
}
.container {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

}
.hotel-details {
background-color: var(--hotel-description-background-color);
color: var(--hotel-description-text-color);
padding-top: 32px;
padding-bottom: 32px;
}
.flex-description {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 80px;
}
.hotel-details-title {
margin-bottom: 32px;
font-weight: 500;
font-size: 40px;
line-height: 1;
letter-spacing: .02em;
text-transform: uppercase;
}
.hotel-details-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    letter-spacing: .02em;
}
.hotel-details-button {
    cursor: pointer;
    display: inline-block;
    background-color: var(--hotel-description-background-color);
    color: var(--hotel-description-text-color);
    border: 0.8px solid var(--hotel-description-text-color);
    border-radius: 32px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    font-family: DM Sans;
    letter-spacing: .02em;
}
.hotel-details-gallery {
    display: flex;
    justify-content: center;
}
.hotel-details-picture {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.gallery-flex-thumb {
    display: flex;
}

/* -----------------------------------mobile styles--------------------------------------------------------------------------- */
@media (min-width: 375px) {
   
}
@media (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
    .flex-description {
        display: block;
        margin-bottom: 0;
    }
    .hotel-details-description {
        margin-bottom: 32px;
}
.hotel-details-gallery {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 28px;
}
.gallery-flex-thumb {
    column-gap: 19px;
}
}
/* -----------------------------------tablet styles--------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1439px) {
    .container {
        max-width: 768px;
    }
    .hotel-details {
        padding-top: 44px;
        padding-bottom: 44px;
}
.gallery-item-grow {
    display: inline-flex;
    flex-grow: 1;
}
}
@media (min-width: 768px) {
    .hotel-details-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 68px;
    }
    .hotel-details-description {
    width: 362px;
    height: 54px;
    }
    .hotel-details-button {
        padding-right: 24px;
        padding-left: 24px;
        line-height: 1.7;
    }
    .hotel-details-gallery {
        column-gap: 16px;
    }
    .gallery-flex-thumb {
        flex-direction: column;
        row-gap: 16px;
    }
}
/* -----------------------------------desktop styles--------------------------------------------------------------------------- */
@media (min-width: 1440px) {
    .container {
        max-width: 1376px;
    }
    .hotel-details {
        padding-bottom: 60px;
}
.hotel-details-button {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
    line-height: 1.3;
}
.gallery-flex-thumb {
    row-gap: 28px;
}
.gallery-thumb {
    height: 260px;
}
.hotel-details-gallery {
    column-gap: 32px;
}
}
