/* Anton */

/* -----------------------------------basic styles--------------------------------------------------------------------------- */
:root {
--hotel-description-text-color: #f6f6f6;
--hotel-description-background-color: #121212;
--hotel-description-white-color: #fff;
--trasition-duration: 250ms;
--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
body {
    font-family: DM Sans;
}
.container {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

}
.hotel-details {
background-color: var(--hotel-description-background-color);
color: var(--hotel-description-text-color);
padding-top: 32px;
padding-bottom: 32px;
}
.flex-description {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 80px;
}
.hotel-details-title {
margin-bottom: 32px;
font-weight: 500;
font-size: 40px;
line-height: 1;
letter-spacing: .02em;
text-transform: uppercase;
}
.hotel-details-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    letter-spacing: .02em;
}
.hotel-details-button {
    cursor: pointer;
    display: inline-block;
    background-color: var(--hotel-description-background-color);
    color: var(--hotel-description-text-color);
    border: 0.8px solid var(--hotel-description-text-color);
    border-radius: 32px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    font-family: DM Sans;
    letter-spacing: .02em;
    text-transform: uppercase;
    transition: color var(--trasition-duration) var(--transition-timing-function), background-color var(--trasition-duration) var(--transition-timing-function);
}
.swipe-button {
    background-color: var(--hotel-description-background-color);
    width: 24px;
    height: 24px;
    padding: 0;
}
.swipe-icon {
    width: 24px;
    height: 24px;
}
.hotel-details-button:hover,
.hotel-details-button:focus {
    color: var(--hotel-description-background-color);
    background-color: var(--hotel-description-white-color);
}
.hotel-details-link {
    text-decoration: none;
}
.hotel-details-gallery {
    display: flex;
    justify-content: center;
}
.gallery-flex-thumb {
    display: flex;
}
.gallery-thumb {
    height: 128px;
    width: 158px;
}
.gallery-thumb.extended {
    height: 417px;
    width: 335px;
}
.buttons-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 12px;
    padding-left: 0;
}
.swipe-arrows-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    gap: 20px;
    max-width: 68px;
    padding-left: 0;    
}
/* -----------------------------------mobile styles--------------------------------------------------------------------------- */

<<<<<<< Updated upstream
@media (max-width: 767px) {
=======
@media (max-width: 375px) {
    .container {
        min-width: 320px;
    }
    .gallery-flex-thumb {
        width: 280px;
    }
    .gallery-thumb.extended {
        width: 280px;
    }
}

@media screen and (max-width: 767px) {
>>>>>>> Stashed changes
    .mobile-hidden {
        display: none;
    }
    .flex-description {
        display: block;
        margin-bottom: 0;
    }
    .hotel-details-description {
        margin-bottom: 32px;
    }
    .hotel-details-gallery {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 28px;
    }
    .gallery-flex-thumb {
        column-gap: 19px;
    }
}
/* -----------------------------------tablet styles--------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        max-width: 768px;
    }
    .hotel-details {
        padding-top: 44px;
        padding-bottom: 44px;
}
.tablet-hidden {
    display: none;
}
.buttons-list {
    margin-top: 40px;
    gap: 14px;
}
.gallery-item-grow {
    display: inline-flex;
    flex-grow: 1;
}
}
@media screen and  (min-width: 768px) {
    .hotel-details-title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 68px;
    }
    .hotel-details {
        padding-top: 44px;
        }
    .hotel-details-description {
    width: 362px;
    }
    .hotel-details-button {
        padding-right: 24px;
        padding-left: 24px;
        line-height: 1.7;
    }
    .hotel-details-gallery {
        column-gap: 16px;
    }
    .gallery-flex-thumb {
        flex-direction: column;
        row-gap: 16px;
    }
    .gallery-thumb {
        height: 143px;
        width: 176px;
    }
    .gallery-thumb.extended {
        height: 417px;
        width: 320px;
    }
}
/* -----------------------------------desktop styles--------------------------------------------------------------------------- */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1376px;
    }
    .hotel-details {
        padding-bottom: 60px;
}
.hotel-details-button {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
    line-height: 1.3;
}
.gallery-flex-thumb {
    row-gap: 28px;
}
.gallery-thumb {
    height: 260px;
    width: 320px;
}
.gallery-thumb.extended {
    height: 548px;
    width: 420px;
}
.hotel-details-gallery {
    column-gap: 32px;
}
.desktop-hidden {
    display: none;
}
.hotel-details-header {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}
.buttons-list.mobile-hidden{
    margin-top: 0;
    gap: 14px;
}
.flex-description {
    margin-bottom: 0;
}
.extended {
    height: 548px;
}
}
