/* sergey */
.hotel-hero-2 {
  padding-top: 40px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hotel-hero-2 {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .hotel-hero-2 {
    padding-top: 30px;
    padding-bottom: 130px;
  }
}
.hero-hotel.container {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  overflow: hidden;

}

@media screen and (min-width: 768px) {
  .hero-hotel.container {
    max-width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-hotel.container {
    max-width: 1440px;
  }
}

.left-bloc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .left-bloc {
    position: absolute;
    transform: translateY(100%);
  }
}

.hero-title {
  color: var(--black-color);
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 32px;
    font-size: 80px;
  }
}

.option-btns {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .option-btns {
    margin-bottom: 54px;
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .option-btns {
    margin-bottom: 0;
    gap: 14px;
  }
}

.text {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  width: 335px;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    margin: -30px 0 12px;
  }
}

.cursive {
  font-style: italic;
}

.slider-img-block {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .slider-img-block {
    position: relative;
  }
}

.swiper-slide {
  min-width: 250px;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    min-width: 436px;
  }
}

.hero-images.list {
  display: flex;
  column-gap: 20px;
  position: relative;
  
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-images.list {
    column-gap: 32px;
    
  }
}
@media screen and (min-width: 1440px) {
  .hero-images.list {
    position: relative;
    justify-content: end;
    
    column-gap: 32px;
    right: -230px;
  }
}

.btn-arrow.btn {
  width: 36px;
  height: 36px;
}

.btn-list.list {
  display: flex;
  gap: 32px;
  justify-content: end;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .btn-list.list {
    position: absolute;
    right: 0;
    bottom: -40px;
    transform: translateY(100%);
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .btn-list.list {
    position: absolute;
    left: 737px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.btn-arrow.btn {
  background-color: transparent;
}

.swipe-icon {
  display: block;
  stroke: rgba(18, 18, 18, 0.3);
  stroke-width: 2px;

  fill: transparent;
}
.swipe-icon:hover,
.swipe-icon:focus {
  stroke: #121212;
}

/* .backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 1000;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms,visibility 250ms;
} */
/* .backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
} */
.backdrop.is-hidden .modal {
opacity: 0;
transition-delay: 250ms;
transform: translate(-50%, -50%);
} 

.modal {
position: absolute;
top: 50%;
left: 50%;
width: 335px;
height: 636px;
padding-top: 24px;
padding-right: 24px;
padding-left: 24px;
padding-bottom: 40px;
border-radius: 2px;
caret-color: #f6f6f6;
color: #f4f4fd;
background-color: #121212;
box-shadow: 0px 2px rgba(0, 0, 0, 0.2),
 0px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.14); 
transition: transform 250ms;
transition-delay: 250ms;
transform: translate(-50%, -50%);
} 

@media screen and (min-width: 768px) {
    .modal {
        width: 628px;
        height: 572px;
        padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 60px;
    }
    
}

.modal-title {
    margin-bottom: 40px;
   font-size: 28px;
   font-family: 500;
   font-style: italic;
   text-transform: uppercase;
   letter-spacing: -0.02;
}

@media screen and (min-width: 768px) {
    .modal-title {
        margin-bottom: 60px;
    }
}

.btn.modal-button {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
padding: 0;
border: 1px solid #0000001A;
fill: #f6f6f6;
background-color: transparent;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
transition-property: background-color, fill;
}
.btn.modal-button:hover,
.btn.modal-button:focus {
    background-color: #f6f6f6;
    fill: #121212;
}

.order-contacts {
    display: block;
    font-weight: 500;
    letter-spacing: 2%;
    text-align: center;
}
.order_form {
    display: flex;
    flex-direction: column;  
}

.order-form-label {
    display: block;
    margin-top: 8px;
    font-style: DM sans;
    font-weight: 400;
    font-size: 8px;
    letter-spacing: 0.18em;
    line-height: 1.5;
    color: #D8D7D7;     
} 

.person-data.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
@media screen and (min-width: 768px) {
    .person-data.list {
    flex-direction: row;
        
    }
}

.option-data.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
    .option-data.list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 80px;
        margin-top: 40px;
        row-gap: 40px;
    }
}

.order-form-group {
    position: relative;  
}

.text-input {
    position: absolute;
    top: 0;
    width: 287px;
    height: 36;
    right: 0;
    border: none;
    outline: none;
    background-color: inherit;
    color: #D8D7D7;
}
@media screen and (min-width: 768px) {
    .text-input {
        width: 266px;
    height: 36;
    }
}

.order-form-field {
    display: block;
    width: 287px;
    height: 36px;
    background-color: transparent;
    padding: 0;
     border: none;
    border-bottom: 0.8px solid #F6F6F633;
   color: #f4f4fd;
    
    outline: transparent;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: border; 
}
@media screen and (min-width: 768px) {
    .order-form-field {
        width: 266px;
    height: 36;
    }
}
.order-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    pointer-events: none;
    transform: translateY(-50%);
}

.btn-send.button {
display: flex;
justify-content: center;
align-items: center;
border-radius: 32px;
width: 235px;
height: 46px;
border-color: #e7e9fc;
padding: 0;
margin: 0 auto;
text-transform: uppercase;
background-color: transparent;
color: var(--background-color);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .btn-send.button {
        width: 399px;
        height: 52px;
    }
}

@media screen and (min-width: 1440px) {
    .btn-send.button {
        width: 444px;
        height: 52px;
    }
}
.mod-style {
    font-style: normal;
}

/* Файли Діонісія */

/* /-------- MODAL ----------/ */

.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

z-index: 1000;
}

.backdrop.is-hidden{
opacity: 0;
pointer-events: none;
visibility: hidden;
}

/* .modal{
opacity: 1;
visibility: visible;
width: 335px;
position: absolute;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
background: #121212;
top: 50%;
left: 50%;

transform: translate(50%, 50%);
transition: opacity 250ms var(--timing-cubic);
} */

/* @media screen and (min-width:768px) {
.modal{
max-width: 768px;
width: 628px;
}
} */

.backdrop:hover .modal{
opacity: 1;
}

.cls-button{
position: absolute;
display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
top: 24px;
right: 24px;
background-color: inherit;
border: 1px solid rgba(0, 0, 0, 0.1);

padding: 0;
}
.icon-cls {
display: inline-block;
width: 12px;
height: 12px;
stroke-width: 0;
stroke: currentColor;
fill: currentColor;
}

.title-modal{
font-weight: 500;
font-size: 28px;
line-height: 1.36;

letter-spacing: 0.02em
;
text-transform: uppercase;
margin-bottom: 40px;

color: #F7F7F7;
}
@media screen and (min-width:768px) {
.title-modal{
font-size: 36px;
line-height: 1.11;
}
}

/* form lable */

.inputs{
display: flex;
flex-flow: column;
padding: 24px;
}

.form-label{
display: flex;
flex-direction: column;
position: relative;
}

.boking-label{
font-weight: 500;
font-size: 14px;
line-height: 1.28;

letter-spacing: 0.02em
;
text-transform: uppercase;

color: #F7F7F7;
}

.boking-label-coment{
font-weight: 400;
font-size: 8px;
line-height: 1.5;
letter-spacing: 0.18em;
text-transform: uppercase;

color: #D8D7D7;

padding-top: 8px;
margin-bottom: 40px;
}

.form-input{
height: 40px;
background-color: inherit;
outline: transparent;
/* border: 0.8px solid rgba(247, 247, 247, 0.2);
border-radius: 68px; */
padding-left: 8px;
border: none;
border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
color: #f7f7f7;

transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-icon{
position: absolute;
top: 50%;
left: 16px;
pointer-events: none;

transition: 250ms var(--timing-cubic);
}

/* btn-submit */

/* .btn-send {
display: flex;
align-items: center;
justify-content: center;
font-family: 'DM Sans', sans-serif;
border: 0.8px solid;
border-radius: 32px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
padding: 14px 48px;
margin: 0 auto;
cursor: pointer;

letter-spacing: 0.02em
;
text-transform: uppercase;
background-color: rgba(247, 247, 247, 0);

transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

/* @media screen and (min-width: 768px) {
.btn-send {
line-height: 1.71;
padding: 14px 130px;
}
} */

/* @media screen and (min-width: 1440px) {
.btn-send {
font-size: 14px;
line-height: 1.71;
padding: 14px 134px;
}
} */

.dropdown-color{
background-color: inherit;
color: #f7f7f7;
border: 0.8px solid rgba(247, 247, 247, 0.2);
border-radius: 68px;
margin-bottom: 32px;
padding-bottom: 18px;
}

/* .order-group::after{
content: " ";
display: block;
width: 100%;
height: 1px;
color: rgba(247, 247, 247, 0.2);
} */