/* sergey */
.hotel-hero-2 {
  padding-top: 40px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hotel-hero-2 {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .hotel-hero-2 {
    padding-top: 30px;
    padding-bottom: 130px;
  }
}
.hero-hotel.container {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  overflow: hidden;

}

@media screen and (min-width: 768px) {
  .hero-hotel.container {
    max-width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-hotel.container {
    max-width: 1440px;
  }
}

.left-bloc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .left-bloc {
    position: absolute;
    transform: translateY(100%);
  }
}

.hero-title {
  color: var(--black-color);
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 32px;
    font-size: 80px;
  }
}

.option-btns {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .option-btns {
    margin-bottom: 54px;
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .option-btns {
    margin-bottom: 0;
    gap: 14px;
  }
}

.text {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  width: 335px;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    margin: -30px 0 12px;
  }
}

.cursive {
  font-style: italic;
}

.slider-img-block {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .slider-img-block {
    position: relative;
  }
}

.swiper-slide {
  min-width: 250px;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    min-width: 436px;
  }
}

.hero-images.list {
  display: flex;
  column-gap: 20px;
  position: relative;
  
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-images.list {
    column-gap: 32px;
    
  }
}
@media screen and (min-width: 1440px) {
  .hero-images.list {
    position: relative;
    justify-content: end;
    
    column-gap: 32px;
    right: -230px;
  }
}

.btn-arrow.btn {
  width: 36px;
  height: 36px;
}

.btn-list.list {
  display: flex;
  gap: 32px;
  justify-content: end;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .btn-list.list {
    position: absolute;
    right: 0;
    bottom: -40px;
    transform: translateY(100%);
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .btn-list.list {
    position: absolute;
    left: 737px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.btn-arrow.btn {
  background-color: transparent;
}

.swipe-icon {
  display: block;
  stroke: rgba(18, 18, 18, 0.3);
  stroke-width: 2px;

  fill: transparent;
}
.swipe-icon:hover,
.swipe-icon:focus {
  stroke: #121212;
}
