/* dionisii*/


.restaurant-hero{
    background-color: var(--bg-restaurant);
}

.restaurant-title{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 1;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--color-text);

    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 24px;
}


@media screen and (min-width:768px) {
    .restaurant-title{
        max-width: 768px;
        font-size: 80px;
        line-height: 80px;

        padding-top: 40px;
        padding-left: 34px;
        padding-bottom: 32px;
    }
    
}

@media screen and (min-width:1440px) {
    .restaurant-title{
        max-width: 1440px;
        font-size: 90px;
        line-height: 1.0;

        padding-top: 204px;
        padding-left: 32px;
    }
}

/* -----------TEXT----------- */

.restaurant-p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.3;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--color-text);

padding-top: 204px;
padding-left: 32px;
}

/* ------------------------------ */

.rest-list-btn{
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 40px;
    display: flex;
    gap: 12px;
}
@media screen and (min-width:768px) {
    .rest-list-btn{
        padding-top: 32px;
        padding-left: 32px;
        padding-bottom: 54px;
        gap: 14px;
    }
}
@media screen and (min-width:1440px) {
    .rest-list-btn{
        max-width: 1200px;
        padding-top: 32px;
        padding-left: 32px;
    }
}
/* ---------------- */
.rest-parag{
    width: 338px;
    padding-top: 40px;
    padding-left: 20px;
}
@media screen and (min-width:768px) {
    .rest-parag{
        padding-left: 32px;
        padding-top: 40px;
    }
}
@media screen and (min-width:1440px) {
    .rest-parag{
        padding-left: 32px;
        padding-top: 204px;
        padding-bottom: 48px;
    }
}
/* ------------ */
.rest-list-btn{
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 40px;
}

@media screen and (min-wodth:768px) {
    .rest-list-btn{
        padding-left: 32px;
        padding-top: 40px;
        padding-bottom: 32px;
    }
}

@media screen and (min-wodth:1440px) {
    .rest-list-btn{
        padding-left: 32px;
        padding-top: 32px;
    }
}