/* dionisii*/

.restaurant-hero {
  background-color: var(--bg-restaurant);
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .restaurant-hero {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant-hero {
    padding-top: 30px;
  }
}

.restaurant-title {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .restaurant-title {
    max-width: 768px;
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-title {
    max-width: 1440px;
    font-size: 90px;
    line-height: 1;

    padding-top: 204px;
  }
}

/* -----------TEXT----------- */

.restaurant-p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-text);
}

/* ------------------------------ */

.rest-list-btn {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .rest-list-btn {
    margin-top: 32px;
    margin-bottom: 54px;
    gap: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .rest-list-btn {
    max-width: 1200px;
    margin-top: 32px;
    margin-bottom: 0px;
  }
}

/* ---------------- */
.rest-parag {
  width: 338px;
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .rest-parag {
    padding-top: 204px;
    padding-bottom: 48px;
  }
}
/* ------------ */

/* -------- */

.icon-rest-box {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .icon-rest-box {
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .icon-rest-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 737px;
  }
}

/* ----------- */

.list-rest-btn {
  display: flex;
  margin-top: 24px;
  justify-content: flex-end;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .list-rest-btn {
    margin-top: 40px;
  }
}
.btn-next,
.btn-back {
  background-color: #f7f7f7;
}
.next,
.back {
  color: black;
  width: 7px;
  height: 14px;
  transform: rotate(-180deg);
  font-size: 34px;
}
/* -----------slide-btn--------------- */
.rest-swiperd {
  display: flex;
  gap: 32px;
  margin-top: 34px;
  margin-bottom: 40px;
  justify-content: end;
}

@media screen and (min-width: 768px) {
  .rest-swiperd {
    display: flex;
    margin-top: 51px;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .rest-swiperd {
    display: flex;
    position: absolute;
    top: 576px;
    left: 752px;
    margin-top: 51px;
    margin-bottom: 26px;
    justify-content: center;
  }
}
.btn-arrow.btn {
  width: 36px;
  height: 36px;
}

.btn-list.list {
  display: flex;
  gap: 32px;
  justify-content: end;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .btn-list.list {
    position: absolute;
    right: 0;
    bottom: -40px;
    transform: translateY(100%);
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .btn-list.list {
    position: absolute;
    left: 737px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.btn-arrow.btn {
  background-color: transparent;
}

.swipe-icon {
  display: block;
  stroke: rgba(18, 18, 18, 0.3);
  stroke-width: 2px;

  fill: transparent;
}
.swipe-icon:hover,
.swipe-icon:focus {
  stroke: #121212;
}

/*-------- MODAL ----------*/

.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  opacity: 1;
  visibility: visible;
  width: 335px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #121212;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms var(--timing-cubic);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 768px;
    width: 628px;
  }
}

.backdrop:hover .modal {
  opacity: 1;
}

.cls-button {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;
}
.icon-cls {
  display: inline-block;
  width: 12px;
  height: 12px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.title-modal {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 40px;

  color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .title-modal {
    font-size: 36px;
    line-height: 1.11;
  }
}

/* form lable */

.inputs {
  display: flex;
  flex-flow: column;
  padding: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.boking-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #f7f7f7;
}

.boking-label-coment {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: #d8d7d7;

  padding-top: 8px;
  margin-bottom: 40px;
}

.form-input {
  height: 40px;
  background-color: inherit;
  outline: transparent;
  /* border: 0.8px solid rgba(247, 247, 247, 0.2);
    border-radius: 68px; */
  padding-left: 8px;
  border: none;
  color: #f7f7f7;

  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  pointer-events: none;

  transition: 250ms var(--timing-cubic);
}

/* btn-submit */

.btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  border: 0.8px solid;
  border-radius: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  padding: 14px 48px;
  margin: 0 auto;
  cursor: pointer;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: rgba(247, 247, 247, 0);

  transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 768px) {
  .btn-send {
    line-height: 1.71;
    padding: 14px 130px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-send {
    font-size: 14px;
    line-height: 1.71;
    padding: 14px 134px;
  }
}
.dropdown-color {
  background-color: inherit;
  color: #f7f7f7;
  border: 0.8px solid rgba(247, 247, 247, 0.2);
  border-radius: 68px;
  margin-bottom: 32px;
  padding-bottom: 18px;
}

.order-group::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  color: rgba(247, 247, 247, 0.2);
}
