/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-complex.css');
@import url('./restaurants-details.css');
@import url('./welcome-complex.css');
@import url('./hotels-details.css');
@import url('./locations.css');
@import url('./four-seater-room.css');
@import url('./footer.css');

/* :root {

} */

body{
  font-family: 'DM Sans', sans-serif; 
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 18px;
  gap: 10px;
  min-width: 139px;
  min-height: 34px;
  border: 0.8px solid #121212;
  border-radius: 32px;
  font-family: ‘DM Sans’;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  background-color: #fff;
}
.container {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
      padding: 0px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
      max-width: 1440px;
  }
}