/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

@import url('./hero.css');
@import url('./about-complex.css');
@import url('./restaurant-swipe.css');
@import url('./welcome-complex.css');
@import url('./hotels-details.css');
@import url('./locations.css');
@import url('./four-seater-room.css');
@import url('./footer.css');
@import url('./triple-room.css');

@import url('./hotels-hero.css');
@import url('./double-room.css');
@import url('./triple-room.css');
@import url('./four-seater-room.css');




:root {
  /* dionisii */
  --bg-restaurant:#F7F7F7;
  --color-text:#121212;
  /*  */

}

body{
  font-family: 'DM Sans', sans-serif; 
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  border: 0.8px solid #121212;
  border-radius: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  padding: 8px 18px;
  cursor: pointer;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .button {
    line-height: 1.71;
    padding: 8px 24px;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    font-size: 18px;
    line-height: 1.33;
    padding: 9px 24px;
  }
}
.container {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
