/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

@import url('./hero.css');
@import url('./about-complex.css');
@import url('./restaurant-swipe.css');
@import url('./welcome-complex.css');
@import url('./hotels-details.css');
@import url('./locations.css');
@import url('./four-seater-room.css');
@import url('./footer.css');
@import url('./triple-room.css');

@import url('./header.css');
@import url('./hotels-hero.css');
@import url('./double-room.css');
@import url('./triple-room.css');
@import url('./four-seater-room.css');

@import url('./header.css');
@import url('./restaurant-hero.css');
@import url('./restaurant-kitchen.css');
@import url('./restaurant-menu.css');


@import url('./header.css');
@import url('./room-hero.css');
@import url('./room-menu.css');

:root {
  /* dionisii */
  --bg-restaurant: #f7f7f7;
  --color-text: #121212;
  /*  */
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background: #f7f7f7;
}

.btn-black {
  color: #fff;
  border-color: #f7f7f7;
}
.btn-black:hover,
.btn-black:focus {
  color: #121212;
  background-color: #fff;
}
.btn-white {
  color: #121212;
  border-color: #121212;
}
.btn-white:hover,
.btn-white:focus {
  color: #fff;
  background-color: #121212;
}

.button {
  display: flex;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  border: 0.8px solid;
  border-radius: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  padding: 8px 18px;
  cursor: pointer;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: rgba(247, 247, 247, 0);
}
@media screen and (min-width: 768px) {
  .button {
    line-height: 1.71;
    padding: 8px 24px;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    font-size: 18px;
    line-height: 1.33;
    padding: 9px 24px;
  }
}
.container {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}
